<!DOCTYPE html>
<html>
    <head>
        <title>Flipkart - Verification Page</title>
    </head>
    <body>
        <div style="text-align: center;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size: 18px;">
            <h1>Email Verification</h1>
            <p>Your email was verified. You can continue using the application.</p>
            <p>Click on the Login button to go to login page</p>
            <button style="padding: 10px;width: 100px;text-transform: uppercase;background: #4869dd;border: none;border-radius: 5px;color: #fff;">
                <a href="http://localhost:3000/" style="color: #fff;text-decoration: none;font-size: 18px;">Login</a>
            </button>
        </div>
    </body>
</html>